{% extends 'base.twig' %}

{% block title %}Rechercher des entreprises - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/search-company-style.css">
{% endblock %}

{% block content %}
    <div class="search">
        <h1>Rechercher des entreprises</h1>
        <p class="search-description">Trouvez des entreprises qui correspondent à vos aspirations professionnelles.</p>

        <form method="GET" action="/search-company">
            <div class="search-bar" role="search">
                <input type="text" name='q' placeholder="Rechercher des entreprises..." id="search-input" aria-label="Rechercher des entreprises">
                <button aria-label="Lancer la recherche" type="submit">Rechercher</button>
            </div>

            <div class="filters">
                <div class="filter-group">
                    <label for="location-filter">Localisation</label>
                    <select name="l" id="location-filter">
                        <option value="" hidden {% if search[1] is empty %}selected{% endif %}>Choisir une localisation</option>
                        <option value="Paris" {% if search[1] == 'Paris' %}selected{% endif %}>Paris</option>
                        <option value="Lyon" {% if search[1] == 'Lyon' %}selected{% endif %}>Lyon</option>
                        <option value="Marseille" {% if search[1] == 'Marseille' %}selected{% endif %}>Marseille</option>
                        <option value="Rouen" {% if search[1] == 'Rouen' %}selected{% endif %}>Rouen</option>
                        <option value="Lille" {% if search[1] == 'Lille' %}selected{% endif %}>Lille</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="rating-filter">Évaluation</label>
                    <select name="e" id="rating-filter">
                        <option value="" hidden {% if search[3] is empty %}selected{% endif %}>Choisir une évaluation</option>
                        <option value="5" {% if search[3] == '5' %}selected{% endif %}>5⭐</option>
                        <option value="4" {% if search[3] == '4' %}selected{% endif %}>4⭐</option>
                        <option value="3" {% if search[3] == '3' %}selected{% endif %}>3⭐</option>
                        <option value="2" {% if search[3] == 2 %}selected{% endif %}>2⭐</option>
                        <option value="1" {% if search[3] == '1' %}selected{% endif %}>1⭐</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="sector-filter">Secteur d'activité</label>
                    <select name="s" id="sector-filter">
                        <option value="" hidden {% if search[2] is empty %}selected{% endif %}>Choisir un secteur</option>
                        <option value="IT" {% if search[2] == 'IT' %}selected{% endif %}>Technologie</option>
                        <option value="Finance" {% if search[2] == 'Finance' %}selected{% endif %}>Finance</option>
                        <option value="Commerce" {% if search[2] == 'Commerce' %}selected{% endif %}>Commerce</option>
                        <option value="Droit" {% if search[2] == 'Droit' %}selected{% endif %}>Droit</option>
                        <option value="Santé" {% if search[2] == 'Santé' %}selected{% endif %}>Santé</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="type-filter">Type d'entreprise</label>
                    <select name="t" id="type-filter">
                        <option value="" hidden {% if search[3] is empty %}selected{% endif %}>Choisir un type</option>
                        <option value="startup" {% if search[3] == 'startup' %}selected{% endif %}>Start-up</option>
                        <option value="pme" {% if search[3] == 'pme' %}selected{% endif %}>PME</option>
                        <option value="large-corp" {% if search[3] == 'large-corp' %}selected{% endif %}>Grand groupe</option>
                    </select>
                </div>
            </div>
        </form>
        

        <div class="reset-div">
            <button class="reset-filters">Réinitialiser les filtres</button>
        </div>

        <div class="sort-filter">
            <div class="sort-items">
                <label for="sort-by">Rechercher :</label>
                <select id="sort-by">
                    <option selected value="company">Des entreprises</option>
                    <option value="offer">Des offres de stage</option>
                </select>
            </div>

            <div class="sort-items">
                <label for="sort-by2">Trier par :</label>
                <select id="sort-by2">
                    <option value="name">Nom de l'entreprise</option>
                    <option value="location">Date d'ancienneté</option>
                    <option value="size">Taille</option>
                </select>
            </div>
        </div>

      <div class="search-results-info">
            {% if count == 0 %}
                <p id="results-count">Aucune entreprise trouvée.</p>
            {% else %}
                <p id="results-count">{{ count }} entreprise{% if count > 1 %}s{% endif %} trouvée{% if count > 1 %}s{% endif %}</p>
            {% endif %}
        </div>

        <div class="company-list" id="company-list">
            {% if companies is not empty %}
                {% for company in companies %}
                    <div class="company-item">
                        <img src="{{ company.image }}" alt="Logo de l'entreprise">
                        <div class="company-content">
                            <h3 class="company-name">{{ company.name }}</h3>
                            <div class="company-details">
                                <p><i class="fas fa-map-marker-alt"></i> {{ company.location }}</p>
                                <p><i class="fa-solid fa-crosshairs"></i> {{ company.sector }}</p>
                                <p><i class="fa-solid fa-building"></i> {{ company.type }}</p>
                                <p><i class="fas fa-clock"></i> Membre depuis 
                                    {% set diff = date().diff(date(company.creation_date)) %} {# date de création du compte sur stage connect #}
                                    {% if diff.years > 0 %}
                                        {{ diff.years }} an{{ diff.years > 1 ? 's' : '' }}
                                    {% elseif diff.months > 0 %}
                                        {{ diff.months }} mois
                                    {% else %}
                                        moins d'un mois
                                    {% endif %}</p>
                            </div>
                        </div>
                        <div class="company-actions">
                            <a class="details-btn" href="/company/{{ company.Siret }}">Voir l'entreprise</a>
                            <i class="far fa-heart favorite-icon"></i>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="/search-company?page={{ currentPage - 1 }}" class="pagination-button">Précédent</a>
            {% endif %}

            <span class="pagination-page">Page {{ currentPage }} sur {{ totalPages }}</span>

            {% if currentPage < totalPages %}
                <a href="/search-company?page={{ currentPage + 1 }}" class="pagination-button">Suivant</a>
            {% endif %}
        </div>
    </div>

    <script src="../../static/scripts/filters-script.js"></script>
{% endblock %}