{% extends 'base.twig' %}

{% block title %}Rechercher des offres - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/search-offer-style.css">
{% endblock %}

{% block content %}

    <div class="search">
        <h1>Rechercher des offres de stage</h1>
        <p class="search-description">Trouvez le stage qui correspond à vos compétences et à vos aspirations professionnelles.</p>

        <form method="GET" action="/search">
            <div class="search-bar" role="search">
                <input type="text" name="q" placeholder="Rechercher des offres..." id="search-input" value="{{ search[0]|e }}">
                <button type="submit">Rechercher</button>
            </div>

            <div class="filters">
                <div class="filter-group">
                    <label for="location-filter">Localisation</label>
                    <select name="l" id="location-filter">
                        <option value="" hidden {% if search[1] is empty %}selected{% endif %}>Choisir une localisation</option>
                        <option value="Paris" {% if search[1] == 'Paris' %}selected{% endif %}>Paris</option>
                        <option value="Lyon" {% if search[1] == 'Lyon' %}selected{% endif %}>Lyon</option>
                        <option value="Marseille" {% if search[1] == 'Marseille' %}selected{% endif %}>Marseille</option>
                        <option value="Rouen" {% if search[1] == 'Rouen' %}selected{% endif %}>Rouen</option>
                        <option value="Lille" {% if search[1] == 'Lille' %}selected{% endif %}>Lille</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="category-filter">Secteur</label>
                    <select name="s" id="category-filter">
                        <option value="" hidden {% if search[2] is empty %}selected{% endif %}>Choisir un secteur</option>
                        <option value="IT" {% if search[2] == 'IT' %}selected{% endif %}>IT</option>
                        <option value="Finance" {% if search[2] == 'Finance' %}selected{% endif %}>Finance</option>
                        <option value="Commerce" {% if search[2] == 'Commerce' %}selected{% endif %}>Commerce</option>
                        <option value="Droit" {% if search[2] == 'Droit' %}selected{% endif %}>Droit</option>
                        <option value="Langues" {% if search[2] == 'Langues' %}selected{% endif %}>Langues</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="duration-filter">Durée</label>
                    <select name="d" id="duration-filter">
                        <option value="" hidden {% if search[4] is empty %}selected{% endif %}>Choisir une durée</option>
                        <option value="1-3" {% if search[4] == "1-3" %}selected{% endif %}>1 à 3 mois</option>
                        <option value="3-6" {% if search[4] == "3-6" %}selected{% endif %}>3 à 6 mois</option>
                        <option value="6+" {% if search[4] == "6+" %}selected{% endif %}>6 mois et plus</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="type-filter">Type de stage</label>
                    <select name="t" id="type-filter">
                        <option value="" hidden {% if search[5] is empty %}selected{% endif %}>Choisir un type</option>
                        <option value="full-time" {% if search[5] == "full-time" %}selected{% endif %}>Temps plein</option>
                        <option value="part-time" {% if search[5] == "part-time" %}selected{% endif %}>Temps partiel</option>
                        <option value="remote"{% if search[5] == "remote" %}selected{% endif %}>Télétravail</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="education-filter">Niveau d'études</label>
                    <select name="n" id="education-filter">
                        <option value="" hidden {% if search[6] is empty %}selected{% endif %}>Choisir un niveau</option>
                        <option value="bac" {% if search[6] == "bac" %}selected{% endif %}>Bac</option>
                        <option value="bac+2" {% if search[6] == "bac+2" %}selected{% endif %}>Bac+2</option>
                        <option value="bac+3" {% if search[6] == "bac+3" %}selected{% endif %}>Bac+3</option>
                        <option value="bac+4" {% if search[6] == "bac+4" %}selected{% endif %}>Bac+4</option>
                        <option value="bac+5" {% if search[6] == "bac+5" %}selected{% endif %}>Bac+5</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="reset-div">
            <button class="reset-filters">Réinitialiser les filtres</button>
        </div>

        <div class="sort-filter">
            <div class="sort-items">
                <label for="sort-by">Rechercher :</label>
                <select id="sort-by">
                    <option selected value="offer">Des offres de stage</option>
                    <option value="company">Des entreprises</option>
                </select>
            </div>
            
            <div class="sort-items">
                <label for="sort-by2">Trier par :</label>
                <select id="sort-by2">
                    <option value="date">Date de publication</option>
                    <option value="relevance">Pertinence</option>
                    <option value="location">Localisation</option>
                </select>
            </div>
        </div>

        <div class="search-results-info">
            {% if count == 0 %}
                <p id="results-count">Aucune offre trouvée.</p>
            {% else %}
                <p id="results-count">{{ count }} offre{% if count > 1 %}s{% endif %} trouvée{% if count > 1 %}s{% endif %}</p>
            {% endif %}
        </div>

        <div class="job-list" id="job-list">
            {% if offers is not empty %}
                {% for offer in offers %}
                    <div class="job-item">
                        <img src="{{ offer.image }}" alt="Logo de l'entreprise">
                        <div class="job-content">
                            <h3 class="job-title">{{ offer.title }}</h3>
                            <div class="job-details">
                                <p><i class="fas fa-map-marker-alt"></i> {{ offer.location }}</p>
                                <p><i class="fa-solid fa-building"></i> {{ offer.name }}</p>
                                <p><i class="fas fa-clock"></i> Posté il y a 
                                    {% set diff = date().diff(date(offer.publication_date)) %}
                                    {% if diff.years > 0 %}
                                        {{ diff.years }} an{{ diff.years > 1 ? 's' : '' }}
                                    {% elseif diff.months > 0 %}
                                        {{ diff.months }} mois
                                    {% else %}
                                        moins d'un mois
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="job-actions">
                            <button class="apply-btn" onclick="window.location.href='/candidacy/{{offer.Id_Offer}}'">Postuler</button>
                            <button class="details-btn"

                                {# pour injecter dans le script js #}
                                data-title="{{ offer.title ?? '' }}"
                                data-location="{{ offer.location ?? 'Non spécifié' }}"
                                data-compname="{{ offer.name ?? '' }}"
                                data-date="{{ offer.publication_date ?? '' }}"
                                data-remuneration="{{ offer.remuneration ?? '' }}"
                                data-duration="{{ offer.duration ?? 'Non spécifié' }}"
                                data-description="{{ offer.description ?? '' }}"
                                data-skills="{{ offer.competence ?? '' }}" 
                                data-compdesc="{{ offer.compdescription ?? '' }}"
                                data-compmail="{{ offer.mail ?? '' }}"
                                data-compphone="{{ offer.phone ?? '' }}"
                                data-compeval="{{ offer.rating ?? 0 }}">

                                Voir plus de détails
                            </button>
             
                            <i class="far fa-heart favorite-icon"></i>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="modal-overlay" id="modal-overlay">
            <div class="modal">
                <!-- En-tête de la modale -->
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-title"></h2>
                    <button class="close-modal">&times;</button>
                </div>

                <!-- Corps de la modale -->
                <div class="modal-body">
                    <!-- Section Résumé -->
                    <div class="summary-section">
                        <div class="summary-grid">
                            <div class="summary-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Localisation</span>
                                    <span class="summary-value" id="modal-location"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-building"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Entreprise</span>
                                    <span class="summary-value" id="modal-compname"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fas fa-clock"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Posté il y a</span>
                                    <span class="summary-value" id="modal-date"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-euro-sign"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Rémunération</span>
                                    <span class="summary-value" id="modal-remuneration"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-calendar-days"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Durée</span>
                                    <span class="summary-value" id="modal-duration"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section Description -->
                    <div class="description-section">
                        <h3>Description du poste</h3>
                        <p id="modal-description"></p>
                    </div>

                    <!-- Section Compétences -->
                    <div class="skills-section">
                        <h3>Compétences requises</h3>
                        <ul id="modal-skills-list"></ul>
                    </div>

                    <!-- Section Avantages -->
                    <div class="company-section">
                        <h3 id="modal-compname2"></h3>
                        <ul>
                            <li id="modal-compdesc"></li><br>
                            <li><strong>Mail: </strong><span id="modal-compmail"></span></li>
                            <li><strong>Téléphone: </strong><span id="modal-compphone"></span></li>
                            <li><strong>Évaluation: </strong><span id="modal-rating"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="/search?page={{ currentPage - 1 }}" class="pagination-button">Précédent</a>
            {% endif %}

            <span class="pagination-page">Page {{ currentPage }} sur {{ totalPages }}</span>

            {% if currentPage < totalPages %}
                <a href="/search?page={{ currentPage + 1 }}" class="pagination-button">Suivant</a>
            {% endif %}
        </div>
    </div>

    <script src="../../static/scripts/filters-script.js"></script>
    <script src="../../static/scripts/modal-script.js"></script>
{% endblock %}