{% extends 'base.twig' %}

{% block title %}Rechercher des entreprises - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/search-company-style.css">
{% endblock %}

{% block content %}
    <div class="search">
        <h1>Rechercher des entreprises</h1>
        <p class="search-description">Trouvez des entreprises qui correspondent à vos aspirations professionnelles.</p>

        <form class="search-bar" role="search" method="GET" action="/search-company">
            <input type="text" name='q' placeholder="Rechercher des entreprises..." id="search-input" aria-label="Rechercher des entreprises">
            <button aria-label="Lancer la recherche" type="submit">Rechercher</button>
        </form>

        <div class="filters">
            <div class="filter-group">
                <label for="location-filter">Localisation</label>
                <select id="location-filter">
                    <option value="" hidden selected>Choisir une localisation</option>
                    <option value="Paris">Paris</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Marseille">Marseille</option>
                    <option value="Rouen">Rouen</option>
                    <option value="Lille">Lille</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="sector-filter">Secteur d'activité</label>
                <select id="sector-filter">
                    <option value="" hidden selected>Choisir un secteur</option>
                    <option value="IT">Technologie</option>
                    <option value="Finance">Finance</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Droit">Droit</option>
                    <option value="Santé">Santé</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="type-filter">Type d'entreprise</label>
                <select id="type-filter">
                    <option value="" hidden selected>Choisir un type</option>
                    <option value="startup">Start-up</option>
                    <option value="sme">PME</option>
                    <option value="large-corp">Grand groupe</option>
                </select>
            </div>
        </div>

        <div class="reset-div">
            <button class="reset-filters">Réinitialiser les filtres</button>
        </div>

        <div class="sort-filter">
            <div class="sort-items">
                <label for="sort-by">Rechercher :</label>
                <select id="sort-by">
                    <option selected value="company">Des entreprises</option>
                    <option value="companies">Des offres de stage</option>
                </select>
            </div>

            <div class="sort-items">
                <label for="sort-by">Trier par :</label>
                <select id="sort-by">
                    <option value="name">Nom de l'entreprise</option>
                    <option value="location">Date d'ancienneté</option>
                    <option value="size">Taille</option>
                </select>
            </div>
        </div>



      <div class="search-results-info">
            {% if count == 0 %}
                <p id="results-count">Aucune entreprise trouvée.</p>
            {% else %}
                <p id="results-count">{{ count }} entreprise{% if count > 1 %}s{% endif %} trouvée{% if count > 1 %}s{% endif %}</p>
            {% endif %}
        </div>

        <div class="company-list" id="company-list">
        {% if companies is not empty %}
            {% for company in companies %}
                <div class="company-item">
                    <img src="{{ company.image }}" alt="Logo de l'entreprise">
                    <div class="company-content">
                        <h3 class="company-name">{{ company.name }}</h3>
                        <div class="company-details">
                            <p><i class="fas fa-clock"></i> Posté il y a {{ company.publication_date }} jours</p>
                            <p><i class="fas fa-map-marker-alt"></i> {{ company.location }}</p>
                            <p><i class="fa-solid fa-crosshairs"></i> {{ company.sector }}</p>
                            <p><i class="fa-solid fa-building"></i> {{ company.type }}</p>
                            <p><i class="fas fa-clock"></i> {{ company.date }}</p>
                        </div>
                    </div>
                    <div class="company-actions">
                        <button class="apply-btn">Postuler</button>
                        <a class="details-btn" href="/offre/{{ company.Id_companies }}">Voir plus de détails</a>
                        <i class="far fa-heart favorite-icon"></i>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>






        {# <div class="company-list" id="company-list">
            <!-- Exemple de carte d'entreprise -->
            <div class="company-item">
                <img src="images/Shadow-steam.webp" alt="Logo de l'entreprise">
                <div class="company-content">
                    <h3 class="company-title">CESI</h3>
                    <div class="company-details">
                        <p><i class="fas fa-map-marker-alt"></i> Rouen</p>
                        <p><i class="fa-solid fa-building"></i> Secteur : Éducation</p>
                        <p><i class="fa-solid fa-users"></i> Taille : Moyenne</p>
                        <p><i class="fas fa-clock"></i> Membre depuis 5 ans</p>
                    </div>
                </div>
                <div class="company-actions">
                    <button class="details-btn" onclick="window.location.href='company.html'">Voir plus de détails</button>
                </div>
            </div>

            <!-- Répéter pour d'autres entreprises -->
            <div class="company-item">
                <img src="images/Shadow-steam.webp" alt="Logo de l'entreprise">
                <div class="company-content">
                    <h3 class="company-title">FrameIP</h3>
                    <div class="company-details">
                        <p><i class="fas fa-map-marker-alt"></i> Paris</p>
                        <p><i class="fa-solid fa-building"></i> Secteur : Technologie</p>
                        <p><i class="fa-solid fa-users"></i> Taille : Petite</p>
                        <p><i class="fas fa-clock"></i> Membre depuis 3 ans</p>
                    </div>
                </div>
                <div class="company-actions">
                    <button class="details-btn" onclick="window.location.href='company.html'">Voir plus de détails</button>
                </div>
            </div>

            <div class="company-item">
                <img src="images/Shadow-steam.webp" alt="Logo de l'entreprise">
                <div class="company-content">
                    <h3 class="company-title">SNCF</h3>
                    <div class="company-details">
                        <p><i class="fas fa-map-marker-alt"></i> Lille</p>
                        <p><i class="fa-solid fa-building"></i> Secteur : Transport</p>
                        <p><i class="fa-solid fa-users"></i> Taille : Grande</p>
                        <p><i class="fas fa-clock"></i> Membre depuis 10 ans</p>
                    </div>
                </div>
                <div class="company-actions">
                    <button class="details-btn" onclick="window.location.href='company.html'">Voir plus de détails</button>
                </div>
            </div>

            <!-- Skeleton loading pendant le chargement -->
            <div class="company-item skeleton">
                <div class="skeleton-image"></div>
                <div class="skeleton-content">
                    <div class="skeleton-line" style="width: 70%;"></div>
                    <div class="skeleton-line" style="width: 50%;"></div>
                    <div class="skeleton-line" style="width: 60%;"></div>
                </div>
            </div>
        </div> #}

        <div class="no-results" id="no-results" style="display: none;">
            <p>Aucune entreprise ne correspond à votre recherche. Essayez de modifier vos filtres.</p>
        </div>

        <div class="pagination">
            <button class="pagination-button">Précédent</button>
            <span class="pagination-page">Page 1</span>
            <button class="pagination-button">Suivant</button>
        </div>
    </div>
{% endblock %}