{% extends 'base.twig' %}

{% block title %}Rechercher des offres - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/search-offer-style.css">
{% endblock %}

{% block content %}
    {% if session.flash %}
        <script>
            alert("{{ session.flash }}");
        </script>
    {% endif %}
    <div class="search">
        <h1>Rechercher des offres de stage</h1>
        <p class="search-description">Trouvez le stage qui correspond à vos compétences et à vos aspirations professionnelles.</p>

        <form method="GET" action="/search">
            <div class="search-bar" role="search">
                <input type="text" name="q" placeholder="Rechercher des offres..." id="search-input" value="{{ search[0]|e }}">
                <button type="submit">Rechercher</button>
            </div>

            <div class="filters">
                <div class="filter-group">
                    <label for="location-filter">Localisation</label>
                    <select name="l" id="location-filter">
                        <option value="" hidden {% if search[1] is empty %}selected{% endif %}>Choisir une localisation</option>
                        <option value="Paris" {% if search[1] == 'Paris' %}selected{% endif %}>Paris</option>
                        <option value="Lyon" {% if search[1] == 'Lyon' %}selected{% endif %}>Lyon</option>
                        <option value="Marseille" {% if search[1] == 'Marseille' %}selected{% endif %}>Marseille</option>
                        <option value="Rouen" {% if search[1] == 'Rouen' %}selected{% endif %}>Rouen</option>
                        <option value="Lille" {% if search[1] == 'Lille' %}selected{% endif %}>Lille</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="category-filter">Secteur</label>
                    <select name="s" id="category-filter">
                        <option value="" hidden {% if search[2] is empty %}selected{% endif %}>Choisir un secteur</option>
                        <option value="Informatique" {% if search[2] == 'Informatique' %}selected{% endif %}>Informatique</option>
                        <option value="Défense" {% if search[2] == 'Défense' %}selected{% endif %}>Défense</option>
                        <option value="Énergie" {% if search[2] == 'Énergie' %}selected{% endif %}>Énergie</option>
                        <option value="Transport" {% if search[2] == 'Transport' %}selected{% endif %}>Transport</option>
                        <option value="Télécommunications" {% if search[2] == 'Télécommunications' %}selected{% endif %}>Télécommunications</option>
                        <option value="Mode" {% if search[2] == 'Mode' %}selected{% endif %}>Mode</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="type-filter">Type de stage</label>
                    <select name="t" id="type-filter">
                        <option value="" hidden {% if search[3] is empty %}selected{% endif %}>Choisir un type</option>
                        <option value="Presentiel" {% if search[3] == "Presentiel" %}selected{% endif %}>Temps plein</option>
                        <option value="Hybride" {% if search[3] == "Hybride" %}selected{% endif %}>Temps partiel</option>
                        <option value="Teletravail"{% if search[3] == "Teletravail" %}selected{% endif %}>Télétravail</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label for="education-filter">Niveau d'études</label>
                    <select name="n" id="education-filter">
                        <option value="" hidden {% if search[4] is empty %}selected{% endif %}>Choisir un niveau</option>
                        <option value="BAC" {% if search[4] == "BAC" %}selected{% endif %}>Bac</option>
                        <option value="BAC+2" {% if search[4] == "BAC+2" %}selected{% endif %}>Bac+2</option>
                        <option value="BAC+3" {% if search[4] == "BAC+3" %}selected{% endif %}>Bac+3</option>
                        <option value="BAC+4" {% if search[4] == "BAC+4" %}selected{% endif %}>Bac+4</option>
                        <option value="BAC+5" {% if search[4] == "BAC+5" %}selected{% endif %}>Bac+5</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="reset-div">
            <button class="reset-filters">Réinitialiser les filtres</button>
        </div>

        <div class="sort-filter">
            <div class="sort-items">
                <label for="sort-by">Rechercher :</label>
                <select id="sort-by">
                    <option selected value="offer">Des offres de stage</option>
                    <option value="company">Des entreprises</option>
                </select>
            </div>
        </div>

        <div class="search-results-info">
            {% if count == 0 %}
                <p id="results-count">Aucune offre trouvée.</p>
            {% else %}
                <p id="results-count">{{ count }} offre{% if count > 1 %}s{% endif %} trouvée{% if count > 1 %}s{% endif %}</p>
            {% endif %}
        </div>

        <div class="job-list" id="job-list">
            {% if offers is not empty %}
                {% for offer in offers %}
                    <div class="job-item">
                        <img src="../../static/images/offer.jpg" alt="Image de l'offre">
                        <div class="job-content">
                            <h3 class="job-title">{{ offer.title }}</h3>
                            <div class="job-details">
                                <p><i class="fas fa-map-marker-alt"></i> {{ offer.localisation }}</p>
                                <p><i class="fa-solid fa-building"></i> {{ offer.name }}</p>
                                <p><i class="fas fa-clock"></i> Posté il y a 
                                    {% set diff = date().diff(date(offer.publication_date)) %}
                                    {% if diff.years > 0 %}
                                        {{ diff.years }} an{{ diff.years > 1 ? 's' : '' }}
                                    {% elseif diff.months > 0 %}
                                        {{ diff.months }} mois
                                    {% else %}
                                        moins d'un mois
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="job-actions">
                            <button class="apply-btn" onclick="window.location.href='/candidacy/{{offer.Id_Offer}}'">Postuler</button>
                            <button class="details-btn"

                                {# pour injecter dans le script js #}
                                data-title="{{ offer.title ?? '' }}"
                                data-location="{{ offer.localisation ?? 'Non spécifié' }}"
                                data-compname="{{ offer.name ?? '' }}"
                                data-date="{{ offer.publication_date ?? '' }}"
                                data-remuneration="{{ offer.remuneration ?? '' }}"
                                data-duration="{{ offer.duration ?? 'Non spécifié' }}"
                                data-description="{{ offer.description ?? '' }}"
                                data-skills="{{ offer.competence ?? '' }}" 
                                data-compdesc="{{ offer.compdescription ?? '' }}"
                                data-compmail="{{ offer.mail ?? '' }}"
                                data-compphone="{{ offer.phone ?? '' }}"
                                data-compeval="{{ offer.rating ?? 0 }}"
                                data-views = "{{offer.views ?? 0}}"
                                data-candidacies = "{{offer.candidacies ?? 0}}">

                                Voir plus de détails
                            </button>
             
                            <a href="/wishlist/toggle/{{ offer.Id_Offer }}" class="favorite-link">
                                {% if offer.Id_Offer in wishlist %}
                                    <i class="fas fa-heart favorite-icon"></i>
                                {% else %}
                                    <i class="far fa-heart favorite-icon"></i>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="modal-overlay" id="modal-overlay">
            <div class="modal">
                <!-- En-tête de la modale -->
                <div class="modal-header">
                    <h2 class="modal-title" id="modal-title"></h2>
                    <button class="close-modal">&times;</button>
                </div>

                <!-- Corps de la modale -->
                <div class="modal-body">
                    <!-- Section Résumé -->
                    <div class="summary-section">
                        <div class="summary-grid">
                            <div class="summary-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Localisation</span>
                                    <span class="summary-value" id="modal-location"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-building"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Entreprise</span>
                                    <span class="summary-value" id="modal-compname"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fas fa-clock"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Posté il y a</span>
                                    <span class="summary-value" id="modal-date"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-euro-sign"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Rémunération</span>
                                    <span class="summary-value" id="modal-remuneration"></span>
                                </div>
                            </div>
                            <div class="summary-item">
                                <i class="fa-solid fa-calendar-days"></i>
                                <div class="summary-content">
                                    <span class="summary-label">Durée</span>
                                    <span class="summary-value" id="modal-duration"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Section Description -->
                    <div class="description-section">
                        <h3>Description du poste</h3>
                        <p id="modal-description"></p>
                    </div>

                    <!-- Section Compétences -->
                    <div class="skills-section">
                        <h3>Compétences requises</h3>
                        <ul id="modal-skills-list"></ul>
                    </div>

                    <!-- Section Description -->
                    <div class="description-section">
                        <h3>Statistiques de l'offre</h3>
                        <p id="modal-offerviews"></p>
                        <p id="modal-offercandidacies"></p>
                    </div>

                    <!-- Section Avantages -->
                    <div class="company-section">
                        <h3 id="modal-compname2"></h3>
                        <ul>
                            <li id="modal-compdesc"></li><br>
                            <li><strong>Mail: </strong><span id="modal-compmail"></span></li>
                            <li><strong>Téléphone: </strong><span id="modal-compphone"></span></li>
                            <li><strong>Évaluation: </strong><span id="modal-rating"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="/search?page={{ currentPage - 1 }}" class="pagination-button">Précédent</a>
            {% endif %}

            <span class="pagination-page">Page {{ currentPage }} sur {{ totalPages }}</span>

            {% if currentPage < totalPages %}
                <a href="/search?page={{ currentPage + 1 }}" class="pagination-button">Suivant</a>
            {% endif %}
        </div>
    </div>

    <script src="../../static/scripts/filters-script.js"></script>
    <script src="../../static/scripts/modal-script.js"></script>
    {# <script src="../../static/scripts/wishlist-script.js"></script> #}
{% endblock %}