{% extends 'base.twig' %}

{% block title %}Mon compte - StageConnect{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/styles/user-style.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <div class="sidebar">
                <ul>
                     <li data-section="settings" onclick="showSection('settings')">Mon compte</li>
                    <li data-section="whishlist" onclick="showSection('whishlist')">Wishlist</li>
                    <li data-section="candidacy" onclick="showSection('candidacy')">Mes offres</li>
                    {% if user.Id_Role == 3 %}
                        <li data-section="companies-management" onclick="showSection('companies-management')">Gestion des entreprises</li>
                        <li data-section="offers-management" onclick="showSection('offers-management')">Gestion des offres</li>
                        <li data-section="students-management" onclick="showSection('students-management')">Gestion des étudiants</li>
                        <li data-section="pilots-management" onclick="showSection('pilots-management')">Gestion des pilotes</li>
                    {% elseif user.Id_Role == 2 %}
                        <li data-section="students-management" onclick="showSection('students-management')">Gestion des étudiants</li>
                        <li data-section="companies-management" onclick="showSection('companies-management')">Gestion des entreprises</li>
                        <li data-section="offers-management" onclick="showSection('offers-management')">Gestion des offres</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- Comptes étudiants -->
        <div class="content">
            <!--Section régales du comptes-->
            <div id="settings" class="content-section active">
                <h2>Mon Profil</h2>
                {% if user.cv_path %}
                    <div class="div-pdp">
                        <img class="pdp-user" src="../../static/images/user.jpg" alt="Photo de profil">
                        <div class="cv-input-container">
                            <label for="cv-upload" class="cv-input-label">
                                <i class="fas fa-upload"></i> Modifier votre cv
                            </label>
                            <input type="file" id="cv-upload" class="cv-input" accept=".pdf,.doc,.docx">
                        </div>
                        
                        <!-- Afficher un aperçu du CV téléchargé -->
                        <div class="cv-preview" id="cv-preview">
                            <a href="../../{{ user.cv_path }}" id="cv-link" target="_blank">
                                <i class="fas fa-file-download"></i> Voir votre CV
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="div-pdp">
                        <img class="pdp-user" src="../../static/images/user.jpg" alt="Photo de profil">
                        <div class="cv-input-container">
                            <label for="cv-upload" class="cv-input-label">
                                <i class="fas fa-upload"></i> Ajouter un CV
                            </label>
                            <input type="file" id="cv-upload" class="cv-input" accept=".pdf,.doc,.docx">
                        </div>
                    </div>
                {% endif %}

                <div class="separator"></div>
                
                <div class="div-info">
                    <div class="info-title">Prénom</div>
                    <div contenteditable="false">{{user.name}}</div>
                </div>
                
                <div class="div-info">
                    <div class="info-title">Nom</div>
                    <div contenteditable="false">{{user.surname}}</div>
                </div>

                <div class="div-info">
                    <div class="info-title">Mail</div>
                    <div contenteditable="false">{{user.mail}}</div>
                </div>

                <div class="separator"></div>
                
                <div class="div-para">Promotion : <span>{{promotion.name}}</span></div>

                <div class="separator"></div>

                <div class="div-logout">
                    <button class="buttonLogout" onclick="window.location.href='/logout'">
                        <div class="signLogout">
                            <svg viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>
                        <div class="textLogout">Se déconnecter</div>
                    </button>
                </div>
            </div>

            <!--Section Whishlist-->
            <div id="whishlist" class="content-section">
                <h2>Votre Wishlist</h2>

                <div class="div-candidacy">
                    {% if not offersinwishlist %}
                        <p>Aucune offre enregistrée dans votre wishlist.</p>
                    {% endif %}

                    {% for offer in offersinwishlist %}
                        <div class="job-item">
                            <img src="../../static/images/offer.jpg" alt="Logo de l'entreprise">
                            <div class="job-content">
                                <h3 class="job-title">{{ offer[0].title }}</h3>
                            </div>
                            <div class="job-actions">
                                <button class="apply-btn" onclick="window.location.href='/candidacy/{{ offer[0].Id_Offer }}'">Postuler</button>
                                <button class="details-btn" onclick="window.location.href='/search?q={{ offer[0].title | default('') }}&l={{ offer[0].localisation | default('') }}&s={{ offer[0].sector | default('') }}&t={{ offer[0].typeoffer | default('') }}&n='">
                                    Voir plus de détails
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!--Section gestion des offres/candidatures-->
            <div id="candidacy" class="content-section">
                <h2>Gestion des offres</h2>
                
                <p>Vous avez candidaté à {{candidateCount}} {% if candidateCount < 2%} offre {% else %} offres.{% endif %}</p>
                <div class="div-candidacy">
                    {% if not candidateOffers %}
                        <p>Aucune candidature enregistrée.</p>
                    {% endif %}
                    {% for offer in candidateOffers %}
                        <div class="job-item">
                            <img src="../../static/images/offer.jpg" alt="Logo de l'entreprise">
                            <div class="job-content">
                                <h3 class="job-title">{{ offer.title }}</h3>
                            </div>
                            <div class="job-actions">
                                <button class="apply-btn" onclick="window.location.href='/candidacy/{{ offer.Id_Offer }}'">Postuler</button>
                                <button class="details-btn" onclick="window.location.href='/search?q={{ offer.title | default('') }}&l={{ offer.localisation | default('') }}&s={{ offer.sector | default('') }}&t={{ offer.typeoffer | default('') }}&n='">
                                    Voir plus de détails
                                </button>
                                <a class="apply-btn" href="../../data/offre/{{offer.Id_Offer}}/cv{{ user.Id_Users }}.pdf" download>
                                    Télécharger le CV
                                </a>
                                <textarea id="message" readonly>{{ offer.message[:100] }}</textarea>
                            </div>
                            <div class="job-message">
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            


            <!--Section réglages du comptes (Pilote de Promotions)-->
            <div id="stats(tuteur)" class="content-section">
                <h2>Mon Profil</h2>

                <div class="div-pdp">
                    <img class="pdp-user" src="images/Shadow-steam.webp" alt="Photo de profil">
                    <input id="btnPdpModify" class="pdp-modify" type="file">
                </div>

                <div class="separator"></div>
                
                <div class="div-info">
                    <div class="info-title">Prénom</div>
                    <div contenteditable="true">Antonin</div>
                </div>
                
                <div class="div-info">
                    <div class="info-title">Nom</div>
                    <div contenteditable="true">Mignot</div>
                </div>

                <div class="separator"></div>
                
                <div class="div-para">Promotion que vous pilotez : <span>{{promotion.name}}</span></div>

                <div class="separator"></div>

                <div class="div-logout">
                    <button class="buttonLogout">
                        <div class="signLogout"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                        <div class="textLogout">Se déconnecter</div>
                    </button>
                </div>
            </div>

            <!-- Section gestion des pilotes -->
            <div id="pilots-management" class="content-section">
                <h2>Gestion des pilotes</h2>

                <div class="div-pilots">
                    <table class="pilots-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                         {% for tut in tutor %}
                            <tr>
                                <td>{{ tut.Id_Users }}</td>
                                <td>{{ tut.name }} {{ tut.surname }}</td>
                                <td>{{ tut.mail }}</td>
                                <td>
                                    <button class="btn modify-promo" data-id="{{ tut.Id_Users }}" data-prom="{{ tut.Id_Promotion}}">Modifier</button> <!--On peut modifier les promotions dont il est le tuteur-->
                                    <button class="btn delete" data-id="{{ tut.Id_Users }}">Supprimer</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button class="btn add">Ajouter un pilote</button>
                </div>
            </div>

            <!-- Section gestion des offres -->
            <div id="offers-management" class="content-section">
                <h2>Gestion des offres</h2>

                <div class="div-promotions">
                    <table class="promotions-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom de l'offre</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers %}
                            <tr>
                                <td>{{ offer.Id_Offer }}</td>
                                <td>{{ offer.title }}</td> <!-- Quand on appuie ça retourne vers une page complète avec les étudiants -->
                                <td>
                                    <button class="btn modify-offer" data-id="{{ offer.Id_Offer }}" data-title="{{ offer.title }}" data-description="{{ offer.description }}" data-competence="{{ offer.competence }}" data-remuneration="{{ offer.remuneration }}" data-type="{{ offer.typeoffer }}" data-level="{{ offer.studieslevel }}" data-duration="{{ offer.duration }}" data-siret="{{ offer.Siret }}">Modifier</button>
                                    <button class="btn delete-offer" data-id="{{ offer.Id_Offer }}">Supprimer</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button class="btn create">Créer une offre</button>
                </div>
            </div>
            <!-- Form for updating/creating offers -->
            <form method="POST" action="/updateOffer" id="updateOfferForm" style="display: none;">
                <input type="hidden" name="Id_Offer" id="formIdOffer">
                <input type="text" name="title" id="formOfferTitle" placeholder="Titre de l'offre" required>
                <textarea name="description" id="formOfferDescription" placeholder="Description" required></textarea>
                <textarea name="competence" id="formOfferCompetence" placeholder="Compétences requises" required></textarea>
                <input type="text" name="remuneration" id="formOfferRemuneration" placeholder="Rémunération">
                <input type="text" name="typeoffer" id="formOfferType" placeholder="Type d'offre" required>
                <input type="text" name="studieslevel" id="formOfferStudiesLevel" placeholder="Niveau d'études requis">
                <input type="text" name="duration" id="formOfferDuration" placeholder="Durée">
                <input type="text" name="Siret" id="formOfferSiret" placeholder="Siret de l'entreprise" required>
                <button type="submit">Mettre à jour</button>
            </form>

            <!-- Section gestion des promotions -->
            <div id="promotions-management" class="content-section">
                <h2>Gestion des promotions</h2>

                <div class="div-promotions">
                    <table class="promotions-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom de la promotion</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                       
                            <tr>
                                <td>1</td>
                                <td>CPI A2</td> <!--Quand on appuie ca retourne vers une page compète avec les étudiants-->
                                <td>
                                    <button class="btn add-student">Ajouter un étudiant</button>
                                    <button class="btn delete">Supprimer</button>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>2</td>
                                <td>FISA A3</td>
                                <td>
                                    <button class="btn add-student">Ajouter un étudiant</button>
                                    <button class="btn delete">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="btn create">Créer une promotion</button>
                </div>
            </div>

            <!-- Section gestion des étudiants -->
            <div id="students-management" class="content-section">
                <h2>Gestion des étudiants</h2>

                <div class="div-students">
                    <table class="students-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Promotion</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.Id_Users }}</td>
                                    <td>{{ student.name }} {{ student.surname }}</td>
                                    <td>{{ student.mail }}</td>
                                    <td>{{ student.Id_Promotion }}</td>
                                    <td>
                                        <button class="btn modify-promo" data-id="{{ student.Id_Users }}" data-prom="{{ student.Id_Promotion}}" >Modifier</button>
                                        <button class="btn delete" data-id="{{ student.Id_Users }}">Supprimer</button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="no-data">Aucun étudiant trouvé.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button id="addStudentButton" class="btn btn-primary">Ajouter un étudiant</button>
                </div>
            </div>
            
            <!-- Section gestion des entreprises -->
            <div id="companies-management" class="content-section">
                <h2>Gestion des entreprises</h2>

                <div class="div-companies">
                    <table class="companies-table">
                        <thead>
                            <tr>
                                <th>Siret</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for corporations in corporation %}
                            <tr>
                                <td>{{ corporations.Siret }}</td>
                                <td>{{ corporations.name }}</td>
                                <td>{{ corporations.mail }}</td>
                                <td>
                                    <button class="btn modify-company" data-id="{{ corporations.Siret }}" data-phone="{{ corporations.phone }}" data-des = "{{ corporations.compdescription}}" data-grade = "{{corporations.rating}}">Modifier</button>
                                    <button class="btn delete-company" data-id="{{ corporations.Siret }}">Supprimer</button>
                                </td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="no-data">Aucune entreprise trouvée.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <button class="btn add">Ajouter une entreprise</button>
                </div>
            </div>

            <form method="POST" action="/updateCompany" id="updateCompanyForm" style="display: none;">
                <input type="text" name="Siret" id="formSiret" placeholder="Siret">
                <input type="text" name="name" id="formCompanyName" placeholder="Nom de l'entreprise">
                <input type="text" name="mail" id="formCompanyEmail" placeholder="Email">
                <input type="text" name="phone" id="formCompanyPhone" placeholder="Téléphone">
                <textarea name="description" id="formCompanyDescription" placeholder="Description"></textarea>
                <input type="text" name="grade" id="formCompanyGrade" placeholder="Note">
                <button type="submit">Mettre à jour</button>
            </form>
            
            
            <!-- Formulaires de modification et création (un seul exemplaire de chaque) -->
            <form method="POST" action="/updateUser" id="updateUserForm" style="display: none;">
                <input type="hidden" name="Id_User" id="formIdUser">
                <input type="text" name="email" id="formEmail" placeholder="Email">
                <input type="text" name="name" id="formName" placeholder="Prénom">
                <input type="text" name="surname" id="formSurname" placeholder="Nom">
                <input type="password" name="password" id="formPassword" placeholder="Mot de passe" value="">
                <input type="text" name="Id_Prom" id="formIdProm" placeholder="Promotion">
                <select name="Id_Role" id="formIdRole">
                    <option value="1">Étudiant</option>
                    <option value="2">Pilote</option>
                </select>
                <button type="submit">Mettre à jour</button>
            </form>

            <form method="POST" action="/createUser" id="createUserForm" style="display: none;">
                <input type="text" name="email" id="createFormEmail" placeholder="Email" required>
                <input type="text" name="name" id="createFormName" placeholder="Prénom" required>
                <input type="text" name="surname" id="createFormSurname" placeholder="Nom" required>
                <input type="password" name="password" id="createFormPassword" placeholder="Mot de passe" required>
                <input type="text" name="Id_Prom" id="createFormIdProm" placeholder="Promotion" required>
                <select name="Id_Role" id="createFormIdRole">
                    <option value="1">Étudiant</option>
                    <option value="2">Pilote</option>
                </select>
                <button type="submit" class="btn btn-success">Créer</button>
            </form>
        </div>
    </div>
    
    <script src="../static/scripts/user-script.js"></script>
{% endblock %}